@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 1fr 25px;
      grid-template-rows: 40px 1fr 25px;
}

header {
  width: 100%;
  background: tomato;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
}

header #data_hoje,
header #calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #calendar {
  margin-right: 7px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

header nav #nav-itens {
  position: absolute;
  right: 1em;
  top: 40px;
  background: brown;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
}

header nav:hover #nav-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav img {
  width: 25px;
}

main {
  width: 100%;
  height: 100%;
  background: #9cffa1;
}

main #root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1em;
}

#links .links-item {
  background: palegoldenrod;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#links .links-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

#links .links-item img {
  width: 60px;
}

#modal_consulta {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #14141490;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#registro-area,
#estisticas-area,
#consulta-area {
  background: #5d5dff;
  border-radius: 16px;
  width: 90%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1.7em;
}

#registro-area form,
#estisticas-area form,
#consulta-area form {
  width: 100%;
}

#registro-area form .form-item,
#estisticas-area form .form-item,
#consulta-area form .form-item {
  width: 100%;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#registro-area form .form-item.identificacao,
#estisticas-area form .form-item.identificacao,
#consulta-area form .form-item.identificacao {
  position: relative;
}

#registro-area form .form-item.identificacao input,
#estisticas-area form .form-item.identificacao input,
#consulta-area form .form-item.identificacao input {
  padding: 0 36px 0 1em;
}

#registro-area form .form-item.identificacao img,
#estisticas-area form .form-item.identificacao img,
#consulta-area form .form-item.identificacao img {
  position: absolute;
  right: 10px;
  width: 20px;
}

#registro-area form .form-item select,
#registro-area form .form-item input[type="text"],
#registro-area form .form-item input[type="date"],
#estisticas-area form .form-item select,
#estisticas-area form .form-item input[type="text"],
#estisticas-area form .form-item input[type="date"],
#consulta-area form .form-item select,
#consulta-area form .form-item input[type="text"],
#consulta-area form .form-item input[type="date"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  border-radius: 16px;
  outline: none;
  border: none;
  height: 20px;
  padding: 0 10px 0 1em;
}

#registro-area form .form-item #cafe,
#estisticas-area form .form-item #cafe,
#consulta-area form .form-item #cafe {
  margin: 1px 4px 1px 0px;
}

#registro-area form .form-item #almoco,
#registro-area form .form-item #janta,
#estisticas-area form .form-item #almoco,
#estisticas-area form .form-item #janta,
#consulta-area form .form-item #almoco,
#consulta-area form .form-item #janta {
  margin: 1px 4px 1px 30px;
}

#registro-area form .form-item fieldset,
#estisticas-area form .form-item fieldset,
#consulta-area form .form-item fieldset {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 0.3em;
  border-radius: 16px;
}

#registro-area #btn-cadastrar_usuario,
#estisticas-area #btn-cadastrar_usuario,
#consulta-area #btn-cadastrar_usuario {
  border-radius: 16px;
  background: #9cffa1;
  border: none;
  font-size: 16px;
  margin: 1em 0;
  padding: 0.5em 1.7em;
}

#estisticas-area {
  width: 90%;
  max-width: 1200px;
}

#estisticas-area #estisticas-container {
  width: 100%;
  border-radius: 16px;
  padding: 0.5em 1em;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: #ebff35;
}

#estisticas-area #estisticas-container #estisticas_hoje,
#estisticas-area #estisticas-container #estisticas_amanha {
  border-radius: 16px;
  text-align: center;
  background: antiquewhite;
}

#estisticas-area #estisticas-container #estisticas_hoje .estisticas-tabela,
#estisticas-area #estisticas-container #estisticas_amanha .estisticas-tabela {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

#estisticas-area #estisticas-container #estisticas_hoje .estisticas-tabela span,
#estisticas-area #estisticas-container #estisticas_amanha .estisticas-tabela span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid #00000050;
}

#estisticas-area #estisticas-container #estisticas_hoje .estisticas-tabela .estisticas-tabela-cabecalho,
#estisticas-area #estisticas-container #estisticas_amanha .estisticas-tabela .estisticas-tabela-cabecalho {
  font-weight: bold;
  background: #e1e1e1;
}

.titulo {
  margin: 1em 0;
}

footer {
  width: 100%;
  background: #5fb7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */