// FONTES
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// VARIÁVEIS

// Cores
$background1: #f9fafc;
$cinza1: #f7f7f7;
$preto: #121212;
$verde: #319957;
$amarelo: #eeb81f;
$azul: #1a518e;
$branco: #ffffff;

// Valores padrões
$borderRadius: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

html,
body {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
}

header {
    width: 100%;
    height: 40px;
    background: tomato;
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 8fr 1fr;

    #data_hoje,
    #calendar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #calendar {
        margin-right: 7px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;

        #nav-itens {
            position: absolute;
            right: 1em;
            top: 40px;
            background: brown;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            display: none;
        }

        &:hover {
            #nav-itens {
                display: flex;
            }
        }

        img {
            width: 25px;
        }
    }
}

aside {
    background: #319957;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1em;
    }
}

main {
    width: 100%;
    height: 100%;
    background: rgb(156, 255, 161);
    overflow-y: scroll;
    position: relative;

    #root {
        height: 100%;
        display: flex;
        padding: 2em 1em;
        align-items: center;
        justify-content: center;
    }
}

#links {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background: #adbdb3;

    .links-item {
        background: palegoldenrod;
        width: 90%;
        margin-top: 1.7em;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding-left: 1em;
        transition: transform 0.3s ease-out;
        text-decoration: none;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-out;
        }

        img {
            width: 25px;
            margin-right: 0.7em;
        }
    }
}

#modal_consulta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141490;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

#registro-area {
    position: relative;

    .btn_fechar {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
    }
}

#registro-area,
#estisticas-area,
#consulta-area {
    background: rgb(93, 93, 255);
    border-radius: $borderRadius;
    width: 90%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 1.7em;

    form {
        width: 100%;

        .form-item {
            width: 100%;
            margin-bottom: 1em;
            display: flex;

            &.identificacao {
                position: relative;

                input {
                    padding: 0 36px 0 1em;
                }

                img {
                    position: absolute;
                    right: 10px;
                    width: 20px;
                }
            }

            select,
            input[type="text"],
            input[type="date"] {
                flex: 1;
                margin-left: 10px;
                border-radius: $borderRadius;
                outline: none;
                border: none;
                height: 20px;
                padding: 0 10px 0 1em;
            }

            #cafe {
                margin: 1px 4px 1px 0px;
            }

            #almoco,
            #janta {
                margin: 1px 4px 1px 30px;
            }

            fieldset {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.8em 0.3em;
                border-radius: $borderRadius;
            }
        }
    }

    #btn-cadastrar_usuario {
        border-radius: $borderRadius;
        background: rgb(156, 255, 161);
        border: none;
        font-size: 16px;
        margin: 1em 0;
        padding: 0.5em 1.7em;
    }
}

#estisticas-area {
    width: 90%;
    max-width: 1200px;

    #estisticas-container {
        width: 100%;
        border-radius: $borderRadius;
        padding: 0.5em 1em;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        background: rgb(235, 255, 53);

        #estisticas_hoje,
        #estisticas_amanha {
            border-radius: $borderRadius;
            text-align: center;
            background: antiquewhite;

            .estisticas-tabela {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(8, 1fr);

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid #00000050;
                }

                .estisticas-tabela-cabecalho {
                    font-weight: bold;
                    background: #e1e1e1;
                }
            }
        }
    }
}

.titulo {
    margin: 1em 0;
}

footer {
    width: 100%;
    background: rgb(95, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
