@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@-webkit-keyframes logoBackground {
  100% {
    background-position: 400% 0;
  }
}
@keyframes logoBackground {
  100% {
    background-position: 400% 0;
  }
}

@-webkit-keyframes backgroundDev {
  100% {
    background-position: 80px 0px;
  }
}

@keyframes backgroundDev {
  100% {
    background-position: 80px 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
}

#app {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
}

header {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  top: 0;
  -ms-grid-columns: 8fr 1fr;
      grid-template-columns: 8fr 1fr;
}

header #data_hoje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #79797925;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  background: #ffffff;
  padding: 4px 9px;
  border-radius: 9px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .calendar.refeicao {
  cursor: pointer;
}

header .calendar img {
  width: 20px;
  margin-right: 5px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

header nav #nav-itens {
  position: absolute;
  background: #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #79797925;
  border-radius: 16px;
  right: 1em;
  padding: 10px 16px;
  top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(74, 74, 95, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.144) 0px 30px 60px -30px;
          box-shadow: rgba(74, 74, 95, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.144) 0px 30px 60px -30px;
}

header nav #nav-itens span {
  margin-bottom: 10px;
}

header nav #nav-itens a {
  text-decoration: none;
  background: #f5f5f5;
  border-radius: 16px;
  margin: 3px 0;
  padding: 2px 15px;
  color: #121212;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #79797925;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header nav #nav-itens a:hover {
  background: #d3d3d3;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header nav #nav-itens #version {
  border-top: 1px solid #79797925;
  color: #00000050;
  cursor: default;
  font-size: 10px;
  margin-top: 1em;
  padding-top: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

header nav img {
  width: 25px;
  cursor: pointer;
}

aside {
  background: #ffffff;
  border-right: 1px solid #79797925;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  width: 250px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

aside #logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside #logo #logo_area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  animation: logoBackground 3s ease-in-out alternate-reverse infinite;
  background-image: linear-gradient(275deg, #85ffbd 0%, #fffb7d 100%);
  background-position: 303% 0;
  background-size: 300%;
  border-radius: 16px;
  border: 1px solid #79797925;
  -webkit-box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  padding: 1em 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

aside #logo img {
  border-radius: 14px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 3px;
  width: 30px;
}

aside #logo span {
  font-size: 25px;
  margin-left: 7px;
  font-family: "Lobster", cursive;
}

aside #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside #links .links-item {
  color: #121212;
  width: 90%;
  margin-top: 1.7em;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding-left: 1em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside #links .links-item:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #00000017;
}

aside #links .links-item:hover span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-right: 4px double #121212;
}

aside #links .links-item.router-link-exact-active {
  background: #121212;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #f7f7f7;
}

aside #links .links-item.router-link-exact-active img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(325deg) brightness(108%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(325deg) brightness(108%) contrast(101%);
}

aside #links .links-item img {
  width: 24px;
  margin-right: 0.7em;
}

aside #links .links-item span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 80%;
  border-right: 4px double #fff;
}

aside #app_version {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside #app_version #dev-logo {
  width: 22px;
  opacity: 33%;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

aside #app_version #dev-logo:hover {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 77%;
}

aside #app_version #app_version_area {
  width: 100%;
}

aside #app_version #dev a {
  color: #8b8b8b8f;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -80px 0px;
  border-radius: 4px;
}

aside #app_version #dev a:hover {
  text-decoration: none;
  color: #5a5a5a8f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: backgroundDev 0.5s ease-out infinite;
          animation: backgroundDev 0.5s ease-out infinite;
}

aside #app_version p {
  width: 100%;
  text-align: center;
  color: #8b8b8b8f;
  font-size: 10px;
}

main {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
  gap: 10px;
}

main #root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #area_conteudo {
  padding: 0 12px;
}

main .page_area {
  background: #ffffff;
  width: 100%;
  border: 1px solid #79797925;
  height: 100%;
  border-radius: 16px;
  padding: 10px 2em;
}

main .page_area h1.titulo {
  margin: 1em 0;
  border-bottom: 4px double #79797925;
  padding: 0 0 10px 12px;
}

main .page_area form {
  width: 66%;
}

main .page_area form .form-item {
  width: 100%;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .page_area form .form-item.identificacao {
  position: relative;
}

main .page_area form .form-item.identificacao img {
  position: absolute;
  right: 10px;
  width: 20px;
}

.refeicao_atual {
  background: #ffffff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #79797950;
  cursor: pointer;
  margin-left: 4px;
  padding: 4px 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.refeicao_atual:hover img {
  -webkit-transform: rotate(270deg) scale(1.3);
          transform: rotate(270deg) scale(1.3);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.refeicao_atual img {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-filter: invert(47%) sepia(62%) saturate(427%) hue-rotate(89deg) brightness(93%) contrast(95%);
          filter: invert(47%) sepia(62%) saturate(427%) hue-rotate(89deg) brightness(93%) contrast(95%);
}

.h3_alerta {
  color: #dc3546;
  text-align: center;
}

.refeicao_solicitada {
  background: #d1ffce;
  border: 1px solid #79797950;
  border-radius: 16px;
  padding: 3px 3px;
}

#modal_consulta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141490;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

#modal-area {
  position: relative;
  width: 34%;
  background: #ffffff;
  border: 1px solid #79797925;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px 24px;
}

#modal-area form {
  width: 100%;
}

#modal-area form fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#modal-area form fieldset.presencao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#modal-area form fieldset.presencao h4 {
  text-align: center;
}

#modal-area form fieldset.presencao p {
  text-align: center;
}

#modal-area form fieldset.presencao .form-sub_item {
  display: block;
  width: 90%;
  padding: 5px;
  border-radius: 16px;
  border: 1px solid #79797950;
}

#modal-area form fieldset .form-sub_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#modal-area form fieldset .form-sub_item input {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 7px;
}

#modal-area #idade {
  margin-left: 1em;
}

.button-fechar {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  background: #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 100%;
  padding: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 22px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 22px;
  cursor: pointer;
}

#estisticas-container {
  width: 100%;
  border-radius: 16px;
  padding: 0.5em 1em;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: #ebff35;
}

#estisticas-container #estisticas_hoje,
#estisticas-container #estisticas_amanha {
  border-radius: 16px;
  text-align: center;
  background: antiquewhite;
}

#estisticas-container #estisticas_hoje .estisticas-tabela,
#estisticas-container #estisticas_amanha .estisticas-tabela {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

#estisticas-container #estisticas_hoje .estisticas-tabela span,
#estisticas-container #estisticas_amanha .estisticas-tabela span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid #00000050;
}

#estisticas-container #estisticas_hoje .estisticas-tabela .estisticas-tabela-cabecalho,
#estisticas-container #estisticas_amanha .estisticas-tabela .estisticas-tabela-cabecalho {
  font-weight: bold;
  background: #e1e1e1;
}

footer {
  width: 100%;
  background: #5fb7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

label {
  line-height: 100%;
  height: 100%;
}

#graficos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
}

#graficos .grafico-item {
  border: 1px solid #79797925;
  border-radius: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 12px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#graficos .grafico-item:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#graficos #grafico-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#graficos #grafico-1 h5 {
  font-size: 11px;
  font-weight: 500;
}

#graficos #grafico-1 h2,
#graficos #grafico-1 span {
  color: #319957;
  text-align: right;
  width: 100%;
}

#graficos #grafico-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: #f8f8f8;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#graficos #grafico-2 h5 {
  font-size: 11px;
  font-weight: 500;
}

#graficos #grafico-2 h2,
#graficos #grafico-2 span {
  color: #319957;
  text-align: right;
  width: 100%;
}

#graficos #grafico-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#graficos #grafico-3 h5 {
  font-size: 11px;
  font-weight: 500;
}

#graficos #grafico-3 h2,
#graficos #grafico-3 span {
  color: #319957;
  text-align: right;
  width: 100%;
}

#graficos #grafico-4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  background: #f8f8f8;
}

#graficos #grafico-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  background: #f8f8f8;
}

#graficos #grafico-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

input,
select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  background: #ffffff;
  border: 1px solid #79797950;
  border-radius: 16px;
  outline: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 22px;
  padding: 0 10px 0 1em;
}

input:disabled,
select:disabled {
  background: #e1e1e1;
}

input[type="date"],
select {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

fieldset {
  border: 1px solid #79797925;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8em 0.3em;
}

fieldset legend {
  background: #f8f8f8;
  padding: 4px 16px;
  border: 1px solid #79797925;
  border-radius: 16px;
}

.modal_confirmacao {
  position: fixed;
  top: 2em;
  z-index: 10;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.modal_confirmacao .modal_confirmacao-container {
  padding: 1em 1.7em;
  width: 100%;
  height: 100%;
  position: relative;
}

.button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button_text {
  position: relative;
}

.hidden {
  visibility: hidden;
}

.button_loading {
  width: 25px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.button-large {
  border-radius: 16px;
  border: 1px solid #79797950;
  font-size: 16px;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  margin: 1em 0;
  padding: 0.5em 1.7em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-large:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-large-delete {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  border: 1px solid #bdbdbd;
}

.bg-primary {
  background: #007aff !important;
}

.bg-primary-soft {
  background: #007aff30 !important;
}

.bg-secondary {
  background: #6c757e !important;
}

.bg-secondary-soft {
  background: #6c757e30 !important;
}

.bg-success {
  background: #27a844 !important;
}

.bg-success-soft {
  background: #74ff7291 !important;
}

.bg-danger {
  background: #dc3546 !important;
}

.bg-danger-soft {
  background: #dc354630 !important;
}

.bg-warning {
  background: #fec107 !important;
}

.bg-warning-soft {
  background: #fec10730 !important;
}

.bg-info {
  background: #17a2b7 !important;
}

.bg-info-soft {
  background: #17a2b730 !important;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  -webkit-transform: translate(50%, -5em);
          transform: translate(50%, -5em);
}

.background_error {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff5a5a), to(#ff0505));
  background-image: linear-gradient(to left, #ff5a5a, #ff0505);
}

.background_success {
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.background_warning {
  background-image: linear-gradient(62deg, #fff600 0%, #ff9b00 100%);
}

.background-amarelo-suave {
  background: #ffffc3;
}

.background-verde-suave {
  background: #d2ffd2;
}

.background-azul-suave {
  background: #c3e1ff;
}

.background-vermelho-suave {
  background: #ffe6e6;
}
/*# sourceMappingURL=style.css.map */