// FONTES
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

// VARIÁVEIS
// CORES
$gradiente_verde: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
$gradiente_vermelho: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
$background_cinza: #f8f8f8;
$cinza_claro: #f7f7f7;
$cinza_transparente25: #79797925;
$cinza_transparente50: #79797950;
$preto: #121212;
$dark: #353a40;
$verde: #319957;
$amarelo: #fffb00;
$azul: #1a518e;
$branco: #ffffff;
$primary: #007aff;
$secondary: #6c757e;
$success: #27a844;
$danger: #dc3546;
$warning: #fec107;
$info: #17a2b7;

// VALORES PADRÕES
$borderRadius: 16px;

//KEYFRAMES
@keyframes logoBackground {
    100% {
        background-position: 400% 0;
    }
}

@keyframes backgroundDev {
    100% {
        background-position: 80px 0px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

html,
body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: $background_cinza;
}

#app {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    // gap: 1em;
}

header {
    width: 100%;
    height: 50px;
    display: grid;
    top: 0;
    grid-template-columns: 8fr 1fr;

    #data_hoje {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .calendar {
        display: flex;
        border: 1px solid $cinza_transparente25;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
        background: $branco;
        padding: 4px 9px;
        border-radius: 9px;
        cursor: default;
        user-select: none;

        &.refeicao {
            cursor: pointer;
        }

        img {
            width: 20px;
            margin-right: 5px;
        }
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;

        #nav-itens {
            position: absolute;
            background: $branco;
            box-sizing: content-box;
            border: 2px solid $cinza_transparente25;
            border-radius: $borderRadius;
            right: 1em;
            padding: 10px 16px;
            top: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            display: flex;
            box-shadow: rgba(74, 74, 95, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.144) 0px 30px 60px -30px;
            span {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                background: #f5f5f5;
                border-radius: 16px;
                margin: 3px 0;
                padding: 2px 15px;
                color: $preto;
                box-sizing: content-box;
                border: 1px solid $cinza_transparente25;
                transition: all 0.3s ease-out;

                &:hover {
                    background: #d3d3d3;
                    transition: all 0.3s ease-out;
                }
            }

            #version {
                border-top: 1px solid $cinza_transparente25;
                color: #00000050;
                cursor: default;
                font-size: 10px;
                margin-top: 1em;
                padding-top: 10px;
                text-align: center;
                user-select: none;
                width: 100%;
            }
        }

        img {
            width: 25px;
            cursor: pointer;
        }
    }
}

aside {
    background: $branco;
    border-right: 1px solid $cinza_transparente25;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    width: 250px;
    user-select: none;
    z-index: 2;

    #logo {
        align-items: center;
        display: flex;
        justify-content: center;

        #logo_area {
            align-items: center;
            animation: logoBackground 3s ease-in-out alternate-reverse infinite;
            background-image: linear-gradient(275deg, #85ffbd 0%, #fffb7d 100%);
            background-position: 303% 0;
            background-size: 300%;
            border-radius: $borderRadius;
            border: 1px solid $cinza_transparente25;
            box-shadow: inset rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            display: flex;
            height: 50px;
            justify-content: center;
            margin-top: 1em;
            padding: 1em 2em;
            user-select: none;
        }

        img {
            border-radius: 14px;
            box-sizing: content-box;
            padding: 3px;
            width: 30px;
        }

        span {
            font-size: 25px;
            margin-left: 7px;
            font-family: "Lobster", cursive;
        }
    }

    #links {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;

        .links-item {
            color: $preto;
            width: 90%;
            margin-top: 1.7em;
            height: 44px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding-left: 1em;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                transition: all 0.3s ease-in-out;
                background: #00000017;

                span {
                    transition: all 0.3s ease-in-out;
                    border-right: 4px double $preto;
                }
            }

            &.router-link-exact-active {
                background: #121212;
                transition: all 0.3s ease-in-out;
                color: $cinza_claro;

                img {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(325deg) brightness(108%) contrast(101%);
                }
            }

            img {
                width: 24px;
                margin-right: 0.7em;
            }

            span {
                transition: all 0.3s ease-in-out;
                width: 80%;
                border-right: 4px double #fff;
            }
        }
    }

    #app_version {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 1em;
        flex-direction: column;

        #dev-logo {
            width: 22px;
            opacity: 33%;
            transition: opacity 0.3s ease-out;

            &:hover {
                transition: opacity 0.3s ease-out;
                opacity: 77%;
            }
        }

        #app_version_area {
            width: 100%;
        }

        #dev {
            a {
                color: #8b8b8b8f;
                text-decoration: none;
                transition: all 0.3s ease;
                background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: -80px 0px;
                border-radius: 4px;

                &:hover {
                    text-decoration: none;
                    color: #5a5a5a8f;
                    transition: all 0.3s ease;
                    animation: backgroundDev 0.5s ease-out infinite;
                }
            }
        }

        p {
            width: 100%;
            text-align: center;
            color: #8b8b8b8f;
            font-size: 10px;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    background: $background_cinza;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr 12fr;
    gap: 10px;

    #root {
        height: 100%;
        display: flex;
        padding: 2em 1em;
        align-items: flex-start;
        justify-content: center;
    }

    #area_conteudo {
        padding: 0 12px;
    }

    .page_area {
        background: $branco;
        width: 100%;
        border: 1px solid $cinza_transparente25;
        height: 100%;
        border-radius: $borderRadius;
        padding: 10px 2em;

        h1.titulo {
            margin: 1em 0;
            border-bottom: 4px double $cinza_transparente25;
            padding: 0 0 10px 12px;
        }

        form {
            width: 66%;

            .form-item {
                width: 100%;
                margin-bottom: 1em;
                display: flex;
                align-items: center;

                &.identificacao {
                    position: relative;

                    img {
                        position: absolute;
                        right: 10px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

.refeicao_atual {
    background: $branco;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $cinza_transparente50;
    cursor: pointer;
    margin-left: 4px;
    padding: 4px 14px;
    user-select: none;

    &:hover {
        img {
            transform: rotate(270deg) scale(1.3);
            transition: transform 0.3s ease-in-out;
        }
    }

    img {
        margin-left: 10px;
        transition: transform 0.3s ease-in-out;
        filter: invert(47%) sepia(62%) saturate(427%) hue-rotate(89deg) brightness(93%) contrast(95%);
    }
}

.h3_alerta {
    color: $danger;
    text-align: center;
}

.refeicao_solicitada {
    background: #d1ffce;
    border: 1px solid $cinza_transparente50;
    border-radius: $borderRadius;
    padding: 3px 3px;
}

#modal_consulta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141490;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

#modal-area {
    position: relative;
    width: 34%;
    background: $branco;
    border: 1px solid $cinza_transparente25;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: $borderRadius;
    box-sizing: content-box;
    padding: 10px 24px;

    form {
        width: 100%;

        fieldset {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;

            &.presencao {
                display: flex;
                flex-direction: column;

                h4 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }

                .form-sub_item {
                    display: block;
                    width: 90%;
                    padding: 5px;
                    border-radius: $borderRadius;
                    border: 1px solid $cinza_transparente50;
                }
            }

            .form-sub_item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                input {
                    flex: none;
                    margin-right: 7px;
                }
            }
        }
    }

    #idade {
        margin-left: 1em;
    }
}

.button-fechar {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    background: $branco;
    box-sizing: content-box;
    border-radius: 100%;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 22px;
    cursor: pointer;
}

#estisticas-container {
    width: 100%;
    border-radius: $borderRadius;
    padding: 0.5em 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(235, 255, 53);

    #estisticas_hoje,
    #estisticas_amanha {
        border-radius: $borderRadius;
        text-align: center;
        background: antiquewhite;

        .estisticas-tabela {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(8, 1fr);

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 1px solid #00000050;
            }

            .estisticas-tabela-cabecalho {
                font-weight: bold;
                background: #e1e1e1;
            }
        }
    }
}

footer {
    width: 100%;
    background: rgb(95, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

label {
    line-height: 100%;
    height: 100%;
}

// GRÁFICOS
#graficos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 1em;

    .grafico-item {
        border: 1px solid $cinza_transparente25;
        border-radius: $borderRadius;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        box-sizing: content-box;
        padding: 12px 26px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
    }
    @mixin card_pequeno {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;

        h5 {
            font-size: 11px;
            font-weight: 500;
        }

        h2,
        span {
            color: $verde;
            text-align: right;
            width: 100%;
        }
    }
    #grafico-1 {
        grid-column: 1 / 2;

        @include card_pequeno;
    }
    #grafico-2 {
        grid-column: 2 / 3;
        background: $background_cinza;

        @include card_pequeno;
    }
    #grafico-3 {
        grid-column: 3 / 5;

        @include card_pequeno;
    }
    #grafico-4 {
        grid-column: 5 / 7;
        grid-row: 1 / 5;
        background: $background_cinza;
    }
    #grafico-5 {
        grid-column: 1 / 5;
        grid-row: 2 / 5;
        background: $background_cinza;
    }
    #grafico-6 {
        grid-column: 1 / 7;
    }
}

//ESTILOS GERAIS
input,
select {
    flex: 1;
    margin-left: 10px;
    background: $branco;
    border: 1px solid $cinza_transparente50;
    border-radius: 16px;
    outline: none;
    box-sizing: content-box;
    height: 22px;
    padding: 0 10px 0 1em;

    &:disabled {
        background: #e1e1e1;
    }
}

input[type="date"],
select {
    flex: none;
}

fieldset {
    border: 1px solid $cinza_transparente25;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0.3em;
    legend {
        background: $background_cinza;
        padding: 4px 16px;
        border: 1px solid $cinza_transparente25;
        border-radius: $borderRadius;
    }
}

.modal_confirmacao {
    position: fixed;
    top: 2em;
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
    // border: 2px solid $cinza_transparente25;
    border-radius: $borderRadius;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;

    .modal_confirmacao-container {
        padding: 1em 1.7em;
        width: 100%;
        height: 100%;
        position: relative;
    }
}

// ESTILOS PADRONIZADOS
.button_area {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button_text {
    position: relative;
}

.hidden {
    visibility: hidden;
}

.button_loading {
    width: 25px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.button-large {
    border-radius: $borderRadius;
    border: 1px solid $cinza_transparente50;
    font-size: 16px;
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    margin: 1em 0;
    padding: 0.5em 1.7em;
    // display: flex;
    // justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
        transition: all 0.3s ease-in-out;
    }
}

.button-large-delete {
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    border: 1px solid #bdbdbd;
}

.bg-primary {
    background: #007aff !important;
}
.bg-primary-soft {
    background: #007aff30 !important;
}

.bg-secondary {
    background: #6c757e !important;
}
.bg-secondary-soft {
    background: #6c757e30 !important;
}

.bg-success {
    background: #27a844 !important;
}
.bg-success-soft {
    background: #74ff7291 !important;
}

.bg-danger {
    background: #dc3546 !important;
}
.bg-danger-soft {
    background: #dc354630 !important;
}

.bg-warning {
    background: #fec107 !important;
}
.bg-warning-soft {
    background: #fec10730 !important;
}

.bg-info {
    background: #17a2b7 !important;
}
.bg-info-soft {
    background: #17a2b730 !important;
}

//Efeito fade modal confirmação
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translate(50%, -5em);
}

.background_error {
    background-image: linear-gradient(to left, #ff5a5a, #ff0505);
}

.background_success {
    background-image: $gradiente_verde;
}

.background_warning {
    background-image: linear-gradient(62deg, #fff600 0%, #ff9b00 100%);
}

.background-amarelo-suave {
    background: #ffffc3;
}
.background-verde-suave {
    background: #d2ffd2;
}
.background-azul-suave {
    background: #c3e1ff;
}
.background-vermelho-suave {
    background: #ffe6e6;
}
