// FONTES
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// VARIÁVEIS

// Cores
$background_cinza: #f8f8f8;
$cinza_claro: #f7f7f7;
$cinza_transparente25: #79797925;
$cinza_transparente50: #79797950;
$preto: #121212;
$dark: #353a40;
$verde: #319957;
$amarelo: #fffb00;
$azul: #1a518e;
$branco: #ffffff;

// Valores padrões
$borderRadius: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

html,
body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: $background_cinza;
}

#app {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 1em;
}

header {
    width: 100%;
    height: 50px;
    display: grid;
    top: 0;
    grid-template-columns: 8fr 1fr;

    #data_hoje {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
        background: $branco;
        padding: 4px 9px;
        border-radius: 9px;
        cursor: default;
        user-select: none;

        &.refeicao {
            cursor: pointer;
        }

        img {
            width: 20px;
            margin-right: 5px;
        }
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;

        #nav-itens {
            position: absolute;
            background: $branco;
            box-sizing: content-box;
            border: 2px solid $cinza_transparente25;
            border-radius: $borderRadius;
            right: 1em;
            padding: 10px 16px;
            top: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            display: flex;
            box-shadow: rgba(74, 74, 95, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.144) 0px 30px 60px -30px;
            span {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                background: #f5f5f5;
                border-radius: 16px;
                margin: 3px 0;
                padding: 2px 15px;
                color: $preto;
                box-sizing: content-box;
                border: 1px solid $cinza_transparente25;
                transition: all 0.3s ease-out;

                &:hover {
                    background: #d3d3d3;
                    transition: all 0.3s ease-out;
                }
            }
        }

        img {
            width: 25px;
            cursor: pointer;
        }
    }
}

aside {
    background: $branco;
    width: 260px;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    border-right: 2px solid $cinza_transparente25;
    z-index: 2;

    #logo {
        display: flex;
        margin-top: 1em;
        align-items: center;
        justify-content: center;
        padding-left: 1em;
        user-select: none;

        img {
            width: 30px;
            // background: $amarelo;
            border: 2px solid $branco;
            padding: 6px;
            box-sizing: content-box;
            border-radius: 14px;
        }

        span {
            font-size: 22px;
            margin-left: 7px;
        }
    }

    #links {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;

        .links-item {
            color: $preto;
            width: 90%;
            margin-top: 1.7em;
            height: 44px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding-left: 1em;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                transition: all 0.3s ease-in-out;
                background: #00000017;
            }

            &.router-link-exact-active {
                background: #121212;
                transition: all 0.3s ease-in-out;
                color: $cinza_claro;

                img {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(325deg) brightness(108%) contrast(101%);
                }
            }

            img {
                width: 24px;
                margin-right: 0.7em;
            }

            span {
                width: 80%;
                border-right: 4px double #fff;
            }
        }
    }

    #app_version {
        user-select: none;
        p {
            width: 100%;
            text-align: center;
            color: #8b8b8bb3;
            font-size: 10px;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    background: $background_cinza;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr 12fr;
    gap: 10px;

    #root {
        height: 100%;
        display: flex;
        padding: 2em 1em;
        align-items: flex-start;
        justify-content: center;
    }

    .page_area {
        background: $branco;
        width: 100%;
        border: 2px solid $cinza_transparente25;
        height: 100%;
        border-radius: $borderRadius;
        padding: 10px 2em;

        h1.titulo {
            margin: 1em 0;
            border-bottom: 4px double $cinza_transparente25;
            padding: 0 0 10px 12px;
        }

        form {
            width: 66%;
            padding-left: 12px;

            .form-item {
                width: 100%;
                margin-bottom: 1em;
                display: flex;
                align-items: center;

                &.identificacao {
                    position: relative;

                    img {
                        position: absolute;
                        right: 10px;
                        width: 20px;
                    }
                }

                #cafe {
                    margin: 1px 4px 1px 0px;
                }

                #almoco,
                #janta {
                    margin: 1px 4px 1px 30px;
                }

                fieldset {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.8em 0.3em;
                    border-radius: $borderRadius;
                }
            }
        }

        #btn-cadastrar_usuario {
            border-radius: $borderRadius;
            background: rgb(156, 255, 161);
            border: none;
            font-size: 16px;
            margin: 1em 0;
            padding: 0.5em 1.7em;
        }
    }
}

#modal_consulta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141490;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

#registro-area {
    position: relative;

    .btn_fechar {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
    }
}

#registro-area,
#estisticas-area,
#consulta-area {
    background: rgb(93, 93, 255);
    border-radius: $borderRadius;
    width: 90%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 1.7em;
}

#estisticas-area {
    width: 90%;
    max-width: 1200px;

    #estisticas-container {
        width: 100%;
        border-radius: $borderRadius;
        padding: 0.5em 1em;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        background: rgb(235, 255, 53);

        #estisticas_hoje,
        #estisticas_amanha {
            border-radius: $borderRadius;
            text-align: center;
            background: antiquewhite;

            .estisticas-tabela {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(8, 1fr);

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid #00000050;
                }

                .estisticas-tabela-cabecalho {
                    font-weight: bold;
                    background: #e1e1e1;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: rgb(95, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

label {
    line-height: 100%;
    height: 100%;
}

//ESTILOS GERAIS
input,
select {
    flex: 1;
    margin-left: 10px;
    background: $branco;
    border: 2px solid $cinza_transparente50;
    border-radius: 16px;
    outline: none;
    box-sizing: content-box;
    height: 22px;
    padding: 0 10px 0 1em;
}

input[type="date"],
select {
    flex: none;
}

// ESTILOS PADRONIZADOS
.bg-primary {
    background: #007aff !important;
}
.bg-primary-soft {
    background: #007aff30 !important;
}

.bg-secondary {
    background: #6c757e !important;
}
.bg-secondary-soft {
    background: #6c757e30 !important;
}

.bg-success {
    background: #27a844 !important;
}
.bg-success-soft {
    background: #27a84430 !important;
}

.bg-danger {
    background: #dc3546 !important;
}
.bg-danger-soft {
    background: #dc354630 !important;
}

.bg-warning {
    background: #fec107 !important;
}
.bg-warning-soft {
    background: #fec10730 !important;
}

.bg-info {
    background: #17a2b7 !important;
}
.bg-info-soft {
    background: #17a2b730 !important;
}
